$speed: 0.5s;

.btn-flip{
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  width: 100%;

  > div {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    transition: $speed;
    position: absolute;
    background: #33999487;
    transform: translateY(-50%) rotateX(90deg);
  }
  &:hover{

    > div {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before{
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }


  &:before{
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: $speed;
    position: relative;
    background: #ffffff;
    border: 1px solid #33999487;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    @media (max-width: 639px) {
      padding: 0px;
    }
  }
}
